body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
    font-family: sans-serif;
}

.screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
}

.screen.visible {
    display: block;
}

.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon {
    position: absolute;
    width: 180px;
    cursor: pointer;
}

/* Tu si neskôr nastavíme konkrétne pozície ikon */
#btn-dennicek { left: 100px; top: 500px; }
#btn-skola { left: 450px; top: 500px; }
#btn-aplikacie { left: 800px; top: 500px; }
#btn-media { left: 1150px; top: 500px; }
